html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

h1 {
    padding-top: 50px;
    margin: 0;
}