:root {
  --bg-gray: #f2f2f2;
  --main-gray: #bdbdbd;
  --dark-gray: #828282;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button:enabled {
  cursor: pointer;
}

/* container */
.container {
  width: 1060px;
  background-color: var(--bg-gray);
  border: 3px solid var(--main-gray);
  border-radius: 20px;
  margin: 91px auto;
  background-image: url(../images/background.png);
  background-size: 1060px 1170px;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1.4px;
}

.header-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 37px auto 32px auto;
}

.menu-list {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 25px auto 27px auto;
  gap: 61px;
}

.menu-list li a {
  font-weight: 500;
  color: var(--dark-gray);
}

.menu-list li:first-child a {
  font-weight: 900;
  color: #000;
}

/* footer */
footer {
  background: var(--bg-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

footer div {
  width: 1189px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div:first-child {
  margin: 53px 0 40px 0;
}

.social-link-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

.icon-img {
  width: 24px;
  height: 24px;
}

footer div:last-child {
  margin: 34px 0 38px 0;
}

.company-info-list {
  display: flex;
  align-items: center;
  color: #4f4f4f;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.company-info-list li:not(:last-child) {
  margin-right: 11px;
}

.company-info-list li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 17px;
  margin-left: 10px;
  background-color: #4f4f4f;
  vertical-align: bottom;
}

.company-info-list span {
  font-weight: 700;
}

.copyright {
  color: #4f4f4f;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
