:root {
  --bg-gray: #f2f2f2;
  --main-gray: #bdbdbd;
  --dark-gray: #828282;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button:enabled {
  cursor: pointer;
}

.container {
  width: 1060px;
  height: 1170px;
  background-color: var(--bg-gray);
  border: 3px solid var(--main-gray);
  border-radius: 20px;
  /* background-image: url(../images/background.png);
  background-size: 1060px 1170px; */
  margin: 0 auto;
}

/* header------------------------------------------------ */
header {
  height: 177px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 37px;
  letter-spacing: -1.4px;
}

header hr {
  width: 61%;
  height: 2px;
  background-color: var(--main-gray);
  border: 0;
  margin-top: 33px;
  margin-bottom: 24px;
}

.menu-list {
  display: flex;
  gap: 62px;
}

.menu-list li button {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-gray);
  letter-spacing: -1.4px;
}

.menu-list li:first-of-type button {
  font-weight: 900;
  color: #000;
}

/* footer------------------------------------------------ */
