.movie-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px 6px;
}

.movie-info li:nth-child(3) .type {
  margin-right: 0;
}

.movie-info .star {
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  background-size: 1em;
  padding-left: 1.3em;
}
